/** Universal **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: "Nanum Myeongjo";
    background-color: white;
    cursor: url('Art/READYMADE.art/logos/cursor.jpg'), auto;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
/** HOMEPAGE WITH ART **/

/** HEADER **/
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-top: 1%;
    text-align: center;
    line-height: 3em;
    flex-shrink: 0;
}

header .contact {
    text-transform: uppercase;
    padding-right: 20%;
    font-size: 1em;
}

header .manifesto {
    text-transform: uppercase;
    padding-left: 20%;
    font-size: 1em;
}

/**Image Containers**/
.home-art {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    width: 100%;
    flex-grow: 1;
    padding-bottom: 1.5%;
}

.container {
    width: 33%;
    text-align: center;
}

.container .image {
    width: 100%;    
}

.image img {
    width: 100%;
    height: 100%;
}

.container .name {
    width: 100%;
    font-style: italic;
}

.container .title {
    text-transform: uppercase;
    font-weight: lighter;
}

/** Footer **/
footer {
    border-top: 1px solid black;
    width: 100%;
    max-height: 6em;
    flex-shrink: 0;
    flex-grow: 0;
}

.tcontainer {
    width: 100%;
    overflow: hidden; /* Hide scroll bar */
    line-height: 6em;
  }

.ticker-wrap {
    width: 100%;
    padding-left: 100%;
}

@keyframes ticker {
    0% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(-100%, 0, 0); }
}

.ticker-move {
/* Basically move items from right side of screen to left in infinite loop */
display: inline-block;
white-space: nowrap;
padding-right: 100%;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-name: ticker;
animation-duration: 20s; 
}

.ticker-item1 {
    display: inline-block; /* Lay items in a horizontal line */
    padding-right: 02rem; 
    font-size: 1.5em;
    font-weight: bolder;
  }

.ticker-item2 {
    display: inline-block; 
    padding-right: 80rem;
    font-size: 1.5em;
}