/** Universal **/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: "Nanum Myeongjo";
    background-color: white;
    cursor: url('Art/READYMADE.art/logos/cursor.jpg'), auto;
}

body {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

header {
    padding-top: 2%; 
    padding-bottom: 3%;
}
