* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: "Nanum Myeongjo";
    font-size: 16px; 
    background-color: rgb(243, 242, 242);
}
header {
    border-bottom: 1px solid black;
    height: 6em;
    width: 100%;
}
.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-left: 10%;
    position: relative;
    top: 10em;
}

h1{
    font-size: 4em;
    font-weight: lighter;
    line-height: 1.5em;
    height: 1.5em;
}

h2{
    font-size: 1.2em;
    line-height: 1.2em;
    height: 1.2em;
}

a {
    font-size: 1.2em;
    line-height: 4em;
    height: 4em;
    font-weight: bolder;
    text-transform: uppercase;
    font-style: italic;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    font-style: normal;
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

footer {
    border-top: 1px solid black;
    height: 6em;
    width: 100%;
    position: relative;
    top: 20em;
}

/** HOMEPAGE WITH ART **/

.home-art .container {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    padding-bottom: 5%;
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
}

.container .image {
    width: 60%; 
}

.image img {
    width: 100%;
    height: 100%;
}

.container .name {
    width: 30%;
    padding-top: 50%;
}
