@font-face {
    font-family: ReadyMadeFinal;
    src: url(../READYMADEF.otf); 
}
/** MAIN PAGE **/
main.mobile {
    display: none; 
}

body {
    font-family: ReadyMadeFinal;
    align-items: center; 
}

div.titletext {
    text-align: center; 
    margin-top: 5vh;
    font-size: 1.5em;
 }

 div.doubleimage {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: auto;
    margin: 3vh 0 3vh 0; 
    flex: 1 1 ; 
}

div.doubleimage img {
    width: 48%; 
    height: 95%; 
}

div.singleimage {
    width: auto; 
    height: 85vh; 
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 1.5vh 0 2.5vh 0; 
}

div.singleimage img {
    width: auto%; 
    height: 100%; 
}

div.interview {
    font-size: .75em;
    width: 100vw; 
    display: flex;
    justify-content: center;
    text-align: center;
}

div.text {
    width: 70%;
}

div.interview a {
    text-decoration: none;
    color:black; 
}

div.interview a:hover{
    font-style: normal; 
}

div.footer {
    text-align: center;
    margin-bottom: 5vh;
    font-size: 1.25em;
}

div.footer a{
    text-decoration: none;
    color: black; 
}

div.footer a:hover {
    font-style: italic;
}

/** MOBILE **/
@media only screen and (max-width: 850px) {
    main.screen {
        display: none; 
    }

    main.mobile {
        display: flex;
        flex-direction: column;
    }

    body {
        font-family: ReadyMadeFinal;
        align-items: center; 
    }
    
    div.titletextmobile {
        text-align: center; 
        margin-top: 5vh;
        font-size: 1.5em;
     }

    div.doubleimagemobile {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: auto;
        margin: 3vh 0 3vh 0; 
        flex: 1 1 ; 
    }
    
    div.doubleimagemobile img {
        width: 80%; 
        height: 80%; 
        margin: 3vh 0 3vh 0;
    }
    
    div.singleimage {
        width: auto; 
        height: 60vh; 
        display: flex; 
        justify-content: center;
        align-items: center;
        padding: 1.5vh 0 2.5vh 0; 
    }

    div.singleimage img {
        width: auto%; 
        height: 100%; 
   }
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) { 
    main.screen {
        display: none;
    }

    main.screen {
        display: none; 
    }

    main.mobile {
        display: flex;
        flex-direction: column;
    }

    body {
        font-family: ReadyMadeFinal;
        align-items: center; 
    }
    
    div.titletextmobile {
        text-align: center; 
        margin-top: 5vh;
        font-size: 1.5em;
     }

    div.doubleimagemobile {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: auto;
        margin: 3vh 0 3vh 0; 
        flex: 1 1 ; 
    }
    
    div.doubleimagemobile img {
        width: 80%; 
        height: 80%; 
        margin: 3vh 0 3vh 0;
    }
    div.singleimage {
        width: auto; 
        height: 60vh; 
        display: flex; 
        justify-content: center;
        align-items: center;
        padding: 1.5vh 0 2.5vh 0; 
    }

    div.singleimage img {
        width: auto%; 
        height: 100%; 
   }
}
