html {
    position: relative;
    min-height: 100%;
}

.readysoon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.readysoon img {
    width: auto; 
    height: 90vh;

/** MOBILE **/
@media only screen and (max-width: 850px) {
    .readysoon img {
        width: 95vw; 
        height: auto; 
      }
    }
    
    @media only screen and (min-device-width : 320px)
        and (max-device-width : 480px) {
            .readysoon img {
                width: 95vw; 
                height: auto; 
        }
    }
