@font-face {
    font-family: ReadyMadeFinal;
    src: url(../READYMADEF.otf); 
}

body {
    text-align: center;
    font-family: "Nanum Myeongjo";
     
}

header {
    padding-top: 2%; 
    padding-bottom: 3%;
    font-size: 3vmax;
    font-family: ReadyMadeFinal;
}

header a {
    text-decoration: none;
    color: black; 
}

header a:hover{
    font-style: italic;
}