body {
    font-family: "Nanum Myeongjo";
    text-align: justify;
}

div.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
div.header img {
    width: 100%; 
}

div.singleimage {
    display: flex;
    justify-content: center;
}

div.singleimage .container {
    width: 60%;
}

div.singleimage img {
    width: 100%;
    height: 100%;
}

div.doubleimage {
    display: flex;
    justify-content: center;
}

div.doubleimage .container {
    width: 48%;
    padding: 0 1% 0 1%;    
}

div.doubleimage img {
    width: 100%;
    height: 100%;
}

p {
    font-size: 2vh;
    margin: 3% 25% 3% 25%; 
}

p.intro {
    font-size: 3.5vh; 
    margin: 1% 12% 3% 12%;
    text-align: center;
}

div.footer {
    text-align: center;
    padding: 2% 0 2% 0; 
    font-size: 2.5vh;
    font-style: italic;
}

div.footer a{
    text-decoration: none;
    color: black; 
    text-transform: uppercase;
    font-style: normal;
    font-size: 3vh;
}

div.footer a:hover{
    font-style: italic;
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) { 
    p {
        margin: 0 1% 0 1%;
        font-size: 1.5vmax;
        text-align: center;
    }

    p.intro {
        font-size: 2vmax;
        margin: 0 1% 0 1%;
    }

    div.footer {
        font-size: 1.75vmax;
    }
}