@font-face {
    font-family: ReadyMadeFinal;
    src: url(../READYMADEF.otf); 
}

body {
    font-family: ReadyMadeFinal;
    align-items: center;
}

main.mobile {
    display: none; 
}

div.titlebox {
    text-align: left;
    background-image: url("../ISSUETWOART/Tomo/tomo7.jpg");
    height: 100vh; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative; 
 }
 
 div.titletext {
    position: absolute; 
    bottom: 45vh; 
    left: 5vw; 
    font-size: 2em;
 }
 
 div.doubleimage {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: auto;
    margin-top: -10vh;
}

div.doubleimage img {
    height: auto; 
}

div.doubleimage img.one {
    width: 45%
}

div.doubleimage img.two {
    width: 55%
}

div.textbox {
    font-size: .75em;
    width: 50vw; 
    text-align: justify;
}

div.interview {
    width: 100%;
}

div.textboxtwo {
    font-size: .75em;
    width: 50vw; 
    text-align: right;
}

div.horizontalimage {
    display: flex; 
    justify-content: center;
    width: 90vw; 
    height: auto; 
    margin: 2vh 5vw 10vh 5vw; 
}

div.horizontalimage img {
    width: 100%;
}

div.image {
    width: 50vw;
    height: auto;
    margin-top: -20vh;
}

div.image img {
    height: 100%;
    width: 100%; 
}

div.imagetwo {
    width: 50vw;
    height: auto;
    margin-top: -20vh;
    margin-left: 50vw;
}

div.imagetwo img {
    height: 100%;
    width: 100%; 
}

div.footer {
    text-align: center;
    margin-bottom: 5vh;
    font-size: 1.25em;
}

div.footer a{
    text-decoration: none;
    color: black; 
}

div.footer a:hover {
    font-style: italic;
}

/** MOBILE **/
@media only screen and (max-width: 850px) {
    main.screen {
        display: none; 
    }

    main.mobile {
        display: flex;
        flex-direction: column;
    }

    div.titleboxmobile {
        text-align: center; 
        margin-top: 5vh;
        font-size: 1.5em;
     }

     div.doubleimagemobile {
        display: flex;
        flex-direction: column; 
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        height: auto;
    }
    
    div.doubleimagemobile img {
        height: auto; 
        width: 100vw; 
    }

    div.textbox {
        font-size: .75em;
        width: 90vw; 
        text-align: center;
    }
    
    div.interview {
        width: 100%;
    }

    div.imagetwomobile {
        width: 100vw;
        height: auto;
    }
    
    div.imagetwomobile img {
        height: 100%;
        width: 100%; 
    }
    div.textboxtwo {
        font-size: .75em;
        width: 90vw; 
        text-align: center;
    }

    div.horizontalimagemobile {
        display: flex; 
        justify-content: center;
        width: 100%; 
        height: auto;
    }

    div.horizontalimagemobile img {
        width: 100%;
        height: 100%
    }
}

@media only screen and (min-device-width : 320px)
and (max-device-width : 480px) {
    main.screen {
        display: none; 
    }

    main.mobile {
        display: flex;
        flex-direction: column;
    }

    div.titleboxmobile {
        text-align: center; 
        margin-top: 5vh;
        font-size: 1.5em;
     }

     div.doubleimagemobile {
        display: flex;
        flex-direction: column; 
        justify-content: space-evenly;
        align-items: center;
        width: 100vw;
        height: auto;
    }
    
    div.doubleimagemobile img {
        height: auto; 
        width: 100vw; 
    }

    div.textbox {
        font-size: .75em;
        width: 90vw; 
        text-align: center;
    }
    
    div.interview {
        width: 100%;
    }

    div.imagetwomobile {
        width: 100vw;
        height: auto;
    }
    
    div.imagetwomobile img {
        height: 100%;
        width: 100%; 
    }
    div.textboxtwo {
        font-size: .75em;
        width: 90vw; 
        text-align: center;
    }

    div.horizontalimagemobile {
        display: flex; 
        justify-content: center;
        width: 100%; 
        height: auto;
    }

    div.horizontalimagemobile img {
        width: 100%;
        height: 100%
    }
}
